/* css  inherit 的继承属性 */

/* css  reset  样式重置 */
*{
    margin: 0;
    padding: 0;
}

/* 全局元素都是10px */
html{
    /* height:100%;
    width:100%; */
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
    font-family: sans-serif
}

.keys{
    display: flex;
    /* flex-direction: column; */
    flex:1;
    min-height: 100vh;/*vh相对单位，相对视窗的高度*/
    align-items: center;/*纵轴排列方式*/
    justify-content: center;/*主轴排列方式*/
}

.key{
    border:.4rem solid black;/*rem相对单位，相对html  font-size*/
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    width:10rem;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.4);
    text-shadow: 0 0 0.5rem black;
}
.key div{
    font-size: 4rem;
}
.key .sound{
    text-transform: uppercase;/*转换大写*/
    font-size: 1.2rem;
    letter-spacing: 1rem;
    color: #ffc600;
}
.playing{
    border-color: #ffc600;
    transform: scale(1.1);/*变形属性 scale 放大1.1倍*/
    box-shadow: 0 0 1rem #ffc600;
}