body,
div,
h1,
h2,
form,
fieldset,
input,
textarea,
footer,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  background: skyblue;
  color: #7c7873;
}
p {
  text-shadow: 0 1px 0 #fff;
  font-size: 36px;
  margin: 30px auto 10px;
  font-family: 华文行楷, Arial, Lucida Grande, Tahoma, sans-serif;
}

#wrap {
  width: 700px;
  margin: -80px auto 0;
  height: 1000px;
}

#form_wrap {
  overflow: hidden;
  height: 600px;
  position: relative;
  top: 350px;
  -webkit-transition: all 1s ease-in-out 0.3s;
  -moz-transition: all 1s ease-in-out 0.3s;
  -o-transition: all 1s ease-in-out 0.3s;
  transition: all 1s ease-in-out 0.3s;
}

#form_wrap:before {
  content: "";
  position: absolute;
  bottom: 270px;
  left: 0px;
  background: url("https://s1.ax1x.com/2023/01/07/pSEz5vj.png");
  background-size: 100%;
  width: 100%;
  height: 320px;
}

#form_wrap:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url("https://s1.ax1x.com/2023/01/07/pSEzDvd.png");
  background-size: 100%;
  width: 100%;
  height: 350px;
}

#form_wrap.hide:after,
#form_wrap.hide:before {
  display: none;
}
#form_wrap:hover {
  height: 1300px;
  top: -150px;
}

form {
  background: #f7f2ec url("https://s1.ax1x.com/2023/01/10/pSmksij.jpg");
  background-size: 100%;
  position: relative;
  top: 250px;
  overflow: hidden;
  height: 200px;
  width: 600px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
  -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  -webkit-transition: all 1s ease-in-out 0.3s;
  -moz-transition: all 1s ease-in-out 0.3s;
  -o-transition: all 1s ease-in-out 0.3s;
  transition: all 1s ease-in-out 0.3s;
}

#form_wrap:hover form {
  height: 880px;
}

label {
  margin: 11px 20px 0 0;
  font-size: 16px;
  color: #b3aba1;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #fff;
}

input[type="text"],
textarea {
  font: 20px normal normal uppercase helvetica, arial, serif;
  color: #000;
  background: none;
  width: 100%;
  height: 36px;
  height: 50px;
  padding: 0px 10px;
  margin: 10px 0 30px 0;
  border: 1px solid #f8f5f1;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 1px #726959;
  -webkit-box-shadow: inset 0px 0px 1px #b3a895;
  box-shadow: inset 0px 0px 1px #b3a895;
}

textarea {
  height: 250px;
  padding-top: 14px;
  font-size: 30px;
}

textarea:focus,
input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.35);
}

#form_wrap button {
  position: relative;
  font-family: "YanoneKaffeesatzRegular";
  font-size: 24px;
  color: #7c7873;
  width: 50%;
  text-align: center;
  opacity: 0;
  background: none;
  border: none;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: opacity 0.6s ease-in-out 0s;
  -moz-transition: opacity 0.6s ease-in-out 0s;
  -o-transition: opacity 0.6s ease-in-out 0s;
  transition: opacity 0.6s ease-in-out 0s;
}
#ok {
  left: -50px;
}
#ciq {
  position: absolute;
  left: 250px;
  top: -38px;
}

#form_wrap:hover button {
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out 1.3s;
  -moz-transition: opacity 0.5s ease-in-out 1.3s;
  -o-transition: opacity 0.5s ease-in-out 1.3s;
  transition: opacity 0.5s ease-in-out 1.3s;
}

#form_wrap:hover button:hover {
  color: #000;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #303030;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.button:hover {
  border-color: lightskyblue;
  color: lightskyblue;
}
.button.primary {
  background-color: lightskyblue;
  color: #fff;
  border: 0;
}
