*{
    font-family: '微软雅黑',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2{
    position: relative;
    font-size: 6em;
    color: #444;
    width: 80%;
}
h2 span{
    color: skyblue;
    display: none;
}