body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}
.card{
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}
.card .face{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 10s ease-in-out;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(0deg);
}
.card .face.front{
    /* background: yellow; */
    /* color: white; */
    background: orange;
    color: skyblue;
}
.card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.card .face.back{
    background: skyblue;
    color: yellow;
    transform: perspective(500px) rotateY(180deg);
}
.card:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
}
.card .face h2{
    font-size: 4em;
    transform: perspective(500px) translateZ(50px);
}
